//colors

$off-black :#1a1d24;
$blue:#3c4251;
$dark-blue:#333745;
$light-blue:#464b5e;
$off-yellow: #c69516;
$black-grey: #222831;
$off-pink: #dd4074;

//spacing
$s-size:1.2rem;
$m-size: 1.6rem;
$l-size : 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint : 45rem;